.cardsContainer {
    /* background-color: red; */
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}

.mainPage {
    background-color: #121212;
}

.heroContainer {
    height: 110vh;
    overflow: hidden;
    padding: 60px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: #fff;
    margin: 50px 0;
}

.textContainer h1 {
    font-size: 48px;
}

.textContainer p {
    font-size: 16px;
    margin: 25px 0;
}

.courseFeatures,
.featue {
    display: flex;
}

.courseFeatures {
    border: 0.1px solid #9f9f9f;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    margin: 30px 0;
    color: #fff;
}

.featue {
    height: min-content;
    align-items: center;
}


.featue p {
    margin: 0 10px;
    font-size: 14px;
}

.featureIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    padding: 5px;
    border-radius: 8px;
    border: 0.1px solid #9f9f9f;
}

.featureIcon svg {
    width: 80%;
}

.btnContainer button {
    color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btnContainer button:nth-child(1) {
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 63, 63));
    margin-right: 20px;
}

.btnContainer button:nth-child(2) {
    background: #262626;
    margin-right: 20px;
}

.curriculum {
    display: flex;
}

.chapterSection {
    width: 70%;
    padding: 30px;
}

.chapterNameContainer {
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    border: 0.1px solid #4c4c4c;

}

.chapterNameContainer h3 {
    font-size: 16px;
    font-weight: 300;
}

.chapterNameContainer p {
    border: 0.1px solid #4c4c4c;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 10px;
    color: #9f9f9f;
}

.courseHighlights {
    width: 30%;
    border-radius: 30px;
    margin: 30px 10px;
    background-color: #1b1b1b;
    padding: 25px;
    color: #fff;
}

.highlightImage {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    padding: 25px;
    font-size: 25px;
}

.courseHighlights button {
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 63, 63));
    color: #ffffff;
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.courseHighlights .courseFeatures p {
    font-size: 11px;
}

.features {
    width: 100%;
    font-size: 14px;
    color: #9f9f9f;
}

.whatToGet {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.featureNameIcon {
    background-color: rgb(5, 166, 5);
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 15px;
}