.pageHeading {
    height: 90vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.pageHeading img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.pageHeading h2 {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 56px;
    position: absolute;
    padding: 0 50px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.contentContainer {
    padding: 20%;
    font-size: 18px;
    line-height: 1.6;
}

.contentContainer h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contentContainer h3 {
    font-size: 32px;
    margin-top: 40px;
}

.contentContainer p {
    margin-bottom: 20px;
}

.contentContainer strong {
    font-weight: bold;
}

.placementProcess {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20%;
}

.placementProcess h3 {
    font-size: 32px;
}

.placementProcess ol {
    list-style: none;
}

.placementProcessItem {
    display: flex;
    margin-bottom: 20px;
}

.placementProcessItem .heading {
    font-size: 64px;
    font-weight: bold;
    color: #cdcdcd;
    width: 10%;
    margin-right: 0px;
}

.placementProcessItem .description {
    width: 90%;
}

.placementProcessItem .description h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.placementProcess .features {
    margin: 40px 0;
}

.whyChoose {
    padding: 80px 20%;
}

.whyChoose h2,
.placementPartners h2 {
    font-size: 36px;
}

.whyChoose .features {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.whyChoose .whyChooseItem {
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.whyChoose .whyChooseItem h3 {
    font-size: 32px;
}

.placementPartners {
    padding: 80px 20%;
}

.placementPartners h2 {
    margin-bottom: 10px;
}

.placementPartners img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 30px;
    filter: grayscale(100%);
}

.placementPartners img:hover {
    transition: 0.3s;
    filter: grayscale(0%);
}

.placementStatistics {
    padding: 20px 15%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.placementHighlight {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 20px;
}

.placementHighlight:nth-child(2) {
    color: #fff;
    background: linear-gradient(to right, #0c35b0, #e111bb);
}

.placementHighlight h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.placementHighlight:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.heroPanel {
    margin: 100px 10%;
    height: 90vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    font-size: 28px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #ffa052, #cc35ea, #1781ea);
}

.getStarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.getStarted h3 {
    font-size: 48px;
    margin: 30px 0;
}

.stepsToEnroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stepsToEnroll img {
    margin: 10px 0;
}