.HighlightsCardContainer {
    background-color: rgb(0, 0, 0);
    padding: 30px 50px;
    border-radius: 25px;
    margin: 15px;
}

.HighlightsCardHeader {
    display: flex;
    justify-content: space-between;
}

.HighlightsCardHeader h3 {
    width: 70%;
    font-size: 30px;
    color: #fff;
}

.HighlightsCardIcon {
    width: 30%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-left: 10px;
}

.HighlightsCardIcon svg {
    font-size: 48px;
    fill: rgb(0, 0, 0);
}

.HighlightsCardDescription {
    margin-top: 15px;
    color: #fff;
}