.MegaCourseContent {
    margin: 30px 0;
    height: 90vh;
    border-radius: 30px;
    overflow: hidden;
    padding: 60px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: #fff;
}

.tag {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
}

.lists p {
    font-size: 14px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.getStarted {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
}